# virtual env
.venv

# temporary data
/tmp
*.log
*.pkl
*.csv
*.root
*.txt
cache/

/plots
/results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Plots
*.svg
*.jpg
*.png
*.bklt

# Jupyter Notebook
.ipynb_checkpoints